@{
    ViewData["Title"] = "Prod_details";
}
@model IEnumerable<TrietTT_PC06359_Assignment.Models.Cars>
    <div class="card mt-3">
    @foreach (var item in Model)
    {
        <div class="row g-0 p-2">
        
                <img class="col-md-4 img-thumbnail rounded p-2" src="\Image\Car\@item.HinhAnh">
                <ul class="col-md-7 offset-md-1 p-2 card-body">
                    <li>Tên xe: @item.Ten</li>
                    <li>Mô tả: @item.MoTa</li>
                    <li>Đơn giá: @item.Gia</li>
                    <li>Loại: @item.Categories.TenLoai</li>
                    <li>Tình Trạng: @item.TinhTrang</li>
                    <li>Số lượng còn <span class="badge bg-warning">@item.SoLuongTon</span> chiếc</li>
                    <li>Năm sản xuất: @item.NamSanXuat</li>
                </ul>
        </div>
        <div class="text-end m-2">
             <a asp-area="User" asp-route-id="@item.CarID" asp-controller="Pay" asp-action="Pay_view" class="btn btn-warning btn-lg ms-3">Mua</a>
        </div>
        }       

    </div>

