@model IEnumerable<TrietTT_PC06359_Assignment.Models.Cars>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NamSanXuat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TinhTrang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HinhAnh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuongTon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categories)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamSanXuat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TinhTrang)
            </td>
            <td>
                <img class="col-sm-4 img-thumbnail rounded p-2" src="/Image/Car/@Html.DisplayFor(modelItem => item.HinhAnh)" alt="Alternate Text" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongTon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categories.TenLoai)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CarID" class="btn btn-primary mb-2">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CarID" class="btn btn-success mb-2">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CarID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
