@model TrietTT_PC06359_Assignment.Models.Orders

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Orders</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayDat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayDat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customers.CustomerID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cars)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cars.CarID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OrderID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
